<%- include('./includes/header') %>
	<style>
		body{
			background-color: rgb(217, 142, 246);
		}
	</style>
</head>
<body>

	<div class="container-fluid">
		<ul class="nav nav-tabs">
			<li class="nav-item">
			  <a class="nav-link active" aria-current="page" href="#">Navbar</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Home</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Login</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
			</li>
		  </ul>
        <div class="row">
            <div class="col">
                <div class="alert alert-danger mt-5" role="alert">
                    <h1>404! 安妮雅不喜歡這個！</h1>
                  </div>
				  <img class="img404 img-fluid" src="images/shock.jpeg" alt="">
            </div>
        </div>
    </div>
<%- include('./includes/footer') %>

</html>